
$bg: rgb(93, 92, 220);

.Home {
    padding: 4rem;
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .big-text {
            font-size: 3rem;
            font-weight: bold;
            margin-left: 18%;
            margin-top: 25%;
        }
        .description-text {
            font-size: 1.2rem;
            margin-left: 18%;
            margin-top: 1rem;
            margin-bottom: 0.6rem;
        }
        button {
            margin-left: 20%;
            margin-top: 0.6rem;
            margin-bottom: 1rem;
            width: 25%;
        }
        .image {
            margin-top: 9%;
            margin-right: 10%;
            width: 80%;
            height: 80%;
        }
    }
}