$font: 1.2em "Fira Sans", sans-serif;
$highlight: rgb(93, 92, 220);
$btn-bg: #5d5cdc;
$card-border: #ffefe3;
$card-hover: #e4ccba;

.Portfolio {
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 1rem;
    .intro-section {
        text-align: center;
        font: $font;
        margin: 1rem;
        .header {
            color: $highlight;
            font-size: 2rem;
            font-weight: bolder;
            padding: 0.8rem;
        }
        button {
            font-size: 0.8rem;
            padding-inline: 1.2rem;
            padding-block: 0.8rem;
            margin: 0.5rem;
            border-radius: 0.4rem;
            &:hover {
                background-color: $btn-bg;
                color: white;
            }
        }
        .active-btn {
            background-color: $btn-bg;
            color: white;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: center;
        justify-items: center;
        padding-inline: 5rem !important;
        font: $font;
        .project-card {
            margin: auto;
            .card-img {
                position: relative;
                background-color: rgb(206, 206, 206);
                border-radius: 0.5rem;
                height: 12rem;
                width: 20rem;
                margin-bottom: 1rem;
                overflow: hidden;
                &:hover {
                    transform: scale(0.95);
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: auto;
                    width: 100%;
                }
                a {
                    position: relative;
                    top: 8rem;
                    left: 18rem;
                    img {
                        border-color: white;
                        opacity: 0.5;
                        width: 1.5rem;
                        height: 1.5rem;
                        position: relative;
                        top: 2rem;
                        z-index: 1;
                    }
                }
            }
            .card-title {
                font-size: 1.6rem;
                font-weight: bold;
            }
            .card-subtitle {
                font-size: 0.8rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                opacity: 0.5;
            }
        }
    }
}